*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(233, 141, 61);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: rgb(235, 68, 68);
    padding: 40px 60px;
}

h1{
    font-size: 3em;
    color: rgb(7, 3, 35);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    color: rgb(7, 3, 35);
    background:rgb(255, 98, 0);
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color:rgb(255, 255, 255);
    background-color: rgb(12, 20, 254);
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: white;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item::after{
    content: ' ';
    position: absolute;
    inset: 0;
    background: #ff7300;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after, .boxMatch:after{
    transform: rotateY(180deg);
}